transformers
# torch  # Use this for PyTorch
tensorflow  # Use this for TensorFlow if not using PyTorch
numpy
pandas
pymongo
matplotlib
# tensorrt
# tf_keras
# scipy
# nvidia-cudnn-cu12
# nvidia_cublas_cu12
# tf-keras
os
sys
nltk
pandas
aiohttp
asyncio
bs4
pymongo
cachetools
logging
langdetect
openai
nest_asyncio